.contact-container {
    display: none;
    position: absolute;
    width: 100%;

    right: 0;
    bottom: 2%;
    text-align: right;
}

@media screen and (max-width: 1200px) {
    .contact-container {
        display: block;
        left: 0;
        text-align: center;
    }
}