.line {
    position: absolute;
    width: 100%;
    height: 4pt;
    background-color: red;
    top: 7pt;
}

a.menu-unhover-element {
    display: inline;
    font-size: 18pt;
    transform: scale(1, 0.75);

    user-select: none;
}

a.menu-unhover-element:link {
    text-decoration: none;
    color: red;
}

a.menu-unhover-element:hover {
    border-bottom: 0;
}

a.menu-unhover-element:visited {
    color: red;
}